<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.englishvocabularyquiztest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishVocabularyQuizTest">
        <activity
            android:name=".CombineActivity1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".CombineActivity"
            android:label="@string/action_combine_test_title" />/>
        <activity
            android:name=".SubtitutionActivity1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".SubtitutionActivity"
            android:label="@string/action_word_substitution_test_title" />/>
        <activity
            android:name=".AnalogyActivity1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".AnalogyActivity"
            android:label="@string/action_analogy_test_title" />/>
        <activity
            android:name=".IdiomsActivity1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".IdiomsActivity"
            android:label="@string/action_idioms_phrases_test_title" />/>
        <activity
            android:name=".SpellActivity1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".SpellActivity"
            android:label="@string/action_spell_mistake_test_title" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/action_about_title" />
        <activity
            android:name=".ScoreActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".QuizActivity1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".QuizActivity"
            android:label="@string/action_syn_antonym_test_title" />
        <activity android:name=".StudyActivity" />
        <activity
            android:name=".CategoryActivity"
            android:label="@string/action_vocabulary_study_title" />
        <activity
            android:name=".PolicyActivity"
            android:label="@string/action_policy_title" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.EnglishVocabularyQuizTest.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>